@tailwind base;
@tailwind components;
@tailwind utilities;

body,
input,
textarea,
button,
select {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.link-underline {
  @apply relative w-full no-underline after:absolute after:content-[''] after:bottom-[-7px] after:left-0 after:h-[1px] after:w-full after:bg-black after:origin-left;
}

.link-underline-rewards {
  @apply relative after:absolute after:content-[''] after:bottom-[-16px] after:-left-[2px] after:h-[4px] after:w-[100%] after:bg-[#00754A] after:origin-left after:transition-all after:duration-500 after:ease-in-out;
}

.toggle-btn {
  @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.gift-card-carousel-img {
  @apply w-[30%] md:w-[31%] lg:w-[23%] xl:w-[22%] mx-2 xl:mx-4 rounded-lg hover:-translate-y-2 transition-transform duration-300 ease-in-out drop-shadow-[0_4px_3px_rgba(0,0,0,0.35)] cursor-pointer;
}

.gift-card-commemoration-img {
  @apply mr-4 xl:mr-8 w-[33%] lg:w-[26%] xl:w-[24%] rounded-lg hover:-translate-y-2 transition-transform duration-300 ease-in-out drop-shadow-[0_4px_3px_rgba(0,0,0,0.35)] cursor-pointer;
}
